@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --backgroud-color: #011627;
  --primary-color: #d6deeb;
  --secondary-color: #ecc48d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--backgroud-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

a {
  color: #3182ce;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #245d8c;
}

section#endpoints {
  margin-bottom: 2rem;
}

.endpoint {
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.endpoint * {
  color: var(--background-color);
}

.endpoint h3 {
  margin-top: 0;
}

.endpoint p {
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #edf2f7;
  padding-top: 2rem;
  text-align: center;
}

footer p {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  p {
    font-size: 0.875rem;
  }
}
